.Product-Parent-Container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product-Preview-Container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 30rem;
  overflow-x: scroll;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.Product-About-Image {
  width: 20rem;
  height: 20rem;
  border: black 1px solid;
  border-radius: 1rem;
}
